# IDEs
.idea
.vscode
.editorconfig

# Docs
docs
docs.json
theme

# After-build files
dist/tsconfig.tsbuildinfo
dist/tsconfig.publish.tsbuildinfo
types/tsconfig.tsbuildinfo
types/tsconfig.publish.tsbuildinfo

# Development files
dist/on-the-fly
types/on-the-fly
on-the-fly
.env
.eslintignore
.eslintrc.json
commitlint.config.js
discordoo.json
docs.md
jest.config.js
typedoc.js
tsconfig.json
tsconfig.publish.json

# Library about files
CODE_OF_CONDUCT.md
CONTRIBUTING.md

# Other
tests
.github
.husky
