---
name: DevDocs

on:
  workflow_dispatch:
  workflow_run:
    workflows:
      - Build

jobs:
  poke:
    name: Poke ddoocs repo
    runs-on: ubuntu-latest
    # Only run if the build workflow was successful or if the workflow was manually triggered
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # Poke the ddoocs repo to trigger a docs build
      - name: Perform Poke
        run: |
          curl -X POST https://api.github.com/repos/ddoodev/ddoocs/dispatches \
               -H 'Accept: application/vnd.github.everest-preview+json' \
               -u ${{ secrets.ACCESS_TOKEN }} \
               --data '{"event_type": "dev_docs_build", "client_payload": { "repository": "'"$GITHUB_REPOSITORY"'" }}'
